
#box1 {
	float: left;
	width: 700px;
	height: 1000px;
	line-height: 40px;
	color: #609;
	margin-left: 10px;
	margin-right: 10px;
	font-family: "Microsoft YaHei", "微软雅黑";
}

#box2 {
	float: left;
	width: 250px;
	height: 1000px;
	margin-right: 15px;
	margin-left: 15px;
	color: #9f9;
}
#box1 h1{
	text-align: center;
}
#box3 {
	float: left;
	width: 230px;
	height: 1000px;
	margin-left: 15px;
}
